#background {
    height: 100vh;
    width: 100vw;
   background-image: url(./images/waterfall.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   
   .container1
   {
    z-index:10;
    /* background-image: url(./images/waterfall.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   
   #videoElement
   {
       z-index:0;
   }
   
   .person
   {
       height:100vh;
       width:100vh;
       background-color: transparent;
    height: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
   }